ul {
    padding: 0;
    width: 80%;
}

li {
    display: inline;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-table;
    width: 15%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: rgb(248, 243, 243);
}

li:last-child a {
    margin-right: 0;
}

a:link,
a:visited,
a:focus {
    background: rgb(77, 76, 76);
}

a:hover {
    background: rgb(101, 101, 100);
}

a:active {
    background: red;
    color: white;
}

nav {
    float: none;
    padding-left: 400px;
}

header {
    border-top: 5px solid rgb(74, 72, 72);
    border-bottom: 5px solid rgb(72, 69, 69);
}

.page1AP {
    background-color: black;
    color: white;
    padding: 20px 20px 20px 180px;
    background-position: center;
    margin-block: initial;
}

.flex {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    color: white;
}

.réservation {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}
.container5{
    height: 200px;
    
    
    text-align: center;
    border: solid;
    border-color: rgb(3, 3, 3);
    padding:20px;
  }

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
   
    bottom: 0;
    width: 100%;
  }

h2{
    color: gray;
    font-family: futura;
    font-size: 30px;
}
  
